/* =============================================================== */
/*  1. DIVIDER                                                     */
/* =============================================================== */
.divider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.divider hr {
  height: 1px;
  background-color: rgba(182, 182, 182, 0.411);
  width: 80%;
  border: none;
}

/* =============================================================== */
/*  2. BUTTON                                                      */
/* =============================================================== */
.btnBase {
  background-color: var(--main-accent);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
  color: var(--foreground);
  cursor: pointer;
  touch-action: manipulation;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  position: relative;
  display: flex;
}

.btnBase:hover {
  background-color: var(--tertary-background) !important;
}

.btnBase:active {
  box-shadow: var(--foreground) 0px 2px 0 0;
  transform: translate(2px, 2px);
}

.btnBase svg {
  margin-right: 5px;
}

.loading {
  color: var(--secondary-foreground) !important;
}

.loader {
  border: 2px solid var(--background);
  border-radius: 50%;
  border-top: 2px solid var(--foreground);
  width: 12px;
  height: 12px;
  margin: 5px 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .btnBase {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* =============================================================== */
/*  3. AVATAR                                                      */
/* =============================================================== */
.avatar {
  background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/* =============================================================== */
/*  4. TOP BAR                                                     */
/* =============================================================== */
.topBarWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.topBar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  height: auto;
  padding: 1rem;
  background-color: var(--background);
  margin: 1rem 0;
  border: 2px solid var(--foreground);
  border-radius: 6px;
}

.topBar .right {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 10px;
}

.topBar .right > button {
  margin-left: 10px;
}

.topBar .right .btnWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.topBar .right .btnWrapper .notification {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--destructive-accent);
  border-radius: 10px;
  top: 0;
  border: 1px solid black;
  left: 0;
}

.topBar .right .btnWrapper .btn {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 25px;
  border: 2px solid black;
}

.topBar svg path {
  stroke: var(--primary-text);
}

/* =============================================================== */
/*  5. CUSTOM TABLE                                                */
/* =============================================================== */
.tableWrapper {
  position: relative;
  width: 100%;
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
  overflow: hidden; /* Prevent overflow */
}

.tableWrapper table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.tableWrapper table,
.tableWrapper td,
.tableWrapper th {
  border: 1px solid black;
  border: none !important;
  text-align: left;
  border-collapse: collapse;
}

.tableWrapper th {
  font-size: 12px;
  font-weight: 550;
  line-height: 15px;
  color: var(--secondary-text);
}

.tableWrapper td {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--primary-text);
}

.tableWrapper thead {
  background-color: var(--tertary-background);
  border: none;
  border-collapse: collapse;
}

.tableWrapper thead tr {
  background-color: var(--secondary-background);
}

.tableWrapper tbody tr {
  background-color: var(--tertary-background);
}

.tableWrapper tr,
.tableWrapper td {
  height: auto;
  vertical-align: bottom;
  border: none;
  text-align: left;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.tableWrapper th,
.tableWrapper td {
  padding: 7px 0;
}

/* =============================================================== */
/*  6. BADGE                                                       */
/* =============================================================== */
.badge {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: auto;
  margin: 0;
  padding: 1px 5px !important;
  margin: 0 5px;
  background-color: var(--magic-bkg);
  color: var(--magic-color);
  padding: 5px 7px;
  border-radius: 5px;
}

.badge span {
  font-size: 8px;
  margin-left: 5px;
}

/* =============================================================== */
/*  7. PAGE HEADER                                                 */
/* =============================================================== */
.pageHeaderWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}
.pageHeaderWrapper .left > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .left h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  color: var(--secondary-text);
  margin-right: 10px;
}

.pageHeaderWrapper .left span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right {
  display: flex;
}

.pageHeaderWrapper .right .staffWrapper {
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .right .staffWrapper > .avatar:first-child {
  position: absolute;
  left: -40px;
}

.pageHeaderWrapper .right .staffWrapper > p {
  position: absolute;
  left: -115px;
  font-size: 15px;
  font-weight: 450;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right .staffWrapper > .avatar:nth-child(6) {
  position: absolute;
  left: -90px;
}

.pageHeaderWrapper .right .staffWrapper > .avatar:nth-child(5) {
  position: absolute;
  left: -80px;
}
.pageHeaderWrapper .right .staffWrapper > .avatar:nth-child(4) {
  position: absolute;
  left: -70px;
}
.pageHeaderWrapper .right .staffWrapper > .avatar:nth-child(3) {
  position: absolute;
  left: -60px;
}
.pageHeaderWrapper .right .staffWrapper > .avatar:nth-child(2) {
  position: absolute;
  left: -50px;
}
.pageHeaderWrapper .right .staffWrapper > .avatar:nth-child(1) {
  position: absolute;
  left: -40px;
}

.pageHeaderWrapper .right button {
  margin-right: 1rem;
}
