@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
  padding-bottom: 2rem;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

.footer img {
  flex-shrink: 0;
}

/* =============================================================== */
/*  2. MAIN PAGE                                                   */
/* =============================================================== */

.mainPage {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  height: 100%;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  overflow-y: scroll;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  bottom: 0;
  top: 0;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  height: 100%;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  overflow-y: scroll;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  bottom: 0;
  top: 0;
}

/* Computer (Mac 13-inch to Mac 16-inch) */
@media only screen and (min-width: 1280px) and (max-width: 3072px) {
  .mainPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    background-color: var(--background);
  }
  .mainSection {
    width: 80%;
    max-width: 80%;
    background-color: var(--background);
  }
}
