.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > main > section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

.page > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > div > .rowSection {
  position: relative;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

/* =============================================================== */
/*  1. PAGE HEADER                                                 */
/* =============================================================== */
.pageHeaderWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}
.pageHeaderWrapper .left > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .left h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  color: var(--secondary-text);
  margin-right: 10px;
}

.pageHeaderWrapper .left span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.pageHeaderWrapper .right .staffWrapper {
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .right .staffWrapper > div {
  position: absolute;
  left: -40px;
}

.pageHeaderWrapper .right .staffWrapper > p {
  position: absolute;
  left: -100px;
  font-size: 15px;
  font-weight: 450;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right .staffWrapper > div:nth-child(4) {
  left: -50px;
}
.pageHeaderWrapper .right .staffWrapper > div:nth-child(3) {
  left: -60px;
}
.pageHeaderWrapper .right .staffWrapper > div:nth-child(2) {
  left: -70px;
}
.pageHeaderWrapper .right .staffWrapper > div:first-child {
  left: 0px;
}

.pageHeaderWrapper .right button {
  margin-right: 1rem;
}

/* =============================================================== */
/*  2. ANALYTICS                                                   */
/* =============================================================== */
.chartContainer {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.aTxt {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.aTxt > h1 {
  line-height: 22px;
}

.aTxt > span {
  font-size: 12px;
  font-weight: 300;
}

.chartWrapperBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0rem;
  background-color: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
}

.chartWrapperBox header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0rem;
}
.chartWrapperBox header h5 {
  font-size: 13px;
  font-weight: 450;
  line-height: 20px;
  color: var(--secondary-text);
}

.chartWrapperBox header h2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: auto;
  padding: 0rem;
  margin: 0rem;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-text);
}

.chartWrapperBox header h2 > span {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: var(--secondary-text);
  margin-left: 3px;
}

.chartWrapperBox .chartContainer {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
