.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > main > section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

.page > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > div > .rowSection {
  position: relative;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

/* =============================================================== */
/*  1. PAGE HEADER                                                 */
/* =============================================================== */
.pageHeaderWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}
.pageHeaderWrapper .left > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .left h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  color: var(--secondary-text);
  margin-right: 10px;
}

.pageHeaderWrapper .left span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right {
  display: flex;
}

.pageHeaderWrapper .right .staffWrapper {
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .right .staffWrapper > div {
  position: absolute;
  left: -40px;
}

.pageHeaderWrapper .right .staffWrapper > p {
  position: absolute;
  left: -100px;
  font-size: 15px;
  font-weight: 450;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right .staffWrapper > div:nth-child(4) {
  left: -50px;
}
.pageHeaderWrapper .right .staffWrapper > div:nth-child(3) {
  left: -60px;
}
.pageHeaderWrapper .right .staffWrapper > div:nth-child(2) {
  left: -70px;
}
.pageHeaderWrapper .right .staffWrapper > div:first-child {
  left: 0px;
}

.pageHeaderWrapper .right button {
  margin-right: 1rem;
}
