.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > main > section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

.page > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}

.page > div > .rowSection {
  position: relative;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

.settingsWrapper,
.avatarWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

.avatarWrapper {
  justify-content: center;
  align-items: center;
  width: 45%;
}

.settingsWrapper {
  width: 55%;
}

.settingsWrapper > div,
.avatarWrapper > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--info-color);
  border-radius: 50px;
  margin: 1rem 0;
  padding: 0;
  border: 2px solid black;
}

.avatarWrapper > div {
  background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
}

.avatarWrapper h3,
.avatarWrapper h6,
.avatarWrapper > span {
  font-size: 12px;
  font-weight: 450;
  line-height: 15px;
  color: var(--secondary-text);
}

.avatarWrapper h6 {
  font-size: 22px;
  font-weight: 550;
  line-height: 25px;
  color: var(--primary-text);
}

.avatarWrapper span {
  font-weight: 550;
  margin-bottom: 5px;
}

.settingsWrapper > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
  background-color: var(--tertary-background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
}
.settingsWrapper > div > div,
.settingsWrapper > div > header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0rem;
}
.settingsWrapper > div > div {
  flex-direction: column;
}

.settingsWrapper > div .inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem 0 0rem 0;
}

.settingsWrapper > div .inputWrapper input,
.settingsWrapper > div .inputWrapper select {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 2px solid var(--foreground);
  border-radius: 4px;
  color: var(--primary-text);
  box-sizing: border-box;
  background-color: var(--background);
}

.settingsWrapper > div .inputWrapper label {
  font-size: 12px;
  font-weight: 450;
  line-height: 13px;
  color: var(--primary-text);
}

.settingsWrapper > div .togglePass {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* Mobile (small to large) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .page > main {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .page > main > section {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .page > div > .rowSection,
  .page > div > .rowSection > section {
    flex-direction: column-reverse !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  .page > div > .rowSection > section:last-of-type {
    margin-bottom: 20px;
  }
}
/* =============================================================== */
/*  1. PAGE HEADER                                                 */
/* =============================================================== */
.analyticsPageHdr {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 0;
}

.pageHeaderWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.pageHeaderWrapper .left > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .left h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  color: var(--secondary-text);
  margin-right: 10px;
}

.pageHeaderWrapper .left span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.pageHeaderWrapper .right .staffWrapper {
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pageHeaderWrapper .right .staffWrapper > div {
  position: absolute;
  left: -40px;
}

.pageHeaderWrapper .right .staffWrapper > p {
  position: absolute;
  left: -100px;
  font-size: 15px;
  font-weight: 450;
  line-height: 16px;
  color: var(--secondary-text);
}

.pageHeaderWrapper .right .staffWrapper > div:nth-child(4) {
  left: -50px;
}
.pageHeaderWrapper .right .staffWrapper > div:nth-child(3) {
  left: -60px;
}
.pageHeaderWrapper .right .staffWrapper > div:nth-child(2) {
  left: -70px;
}
.pageHeaderWrapper .right .staffWrapper > div:first-child {
  left: 0px;
}

.pageHeaderWrapper .right button {
  margin-right: 1rem;
}

.dateSection {
  position: relative;
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.dateInfo {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.dateInfo > svg {
  margin-right: 5px;
}

.dateSelecorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dateSelecorWrapper > button {
  margin-right: 5px;
}

.viewTablesWrapper {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.244);
}

.viewTablesWrapper > div {
  margin-right: 10px;
  margin-bottom: -2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
  padding: 3px 7px 1px 7px;
  cursor: pointer;
}

.viewTablesWrapper > div:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #c0c0c03f;
}

.viewTablesWrapper > div > span {
  font-size: 10px;
  font-weight: 450;
  line-height: 15px;
  color: var(--secondary-text);
  margin-left: 5px;
}

.viewTablesWrapper > div:hover > span {
  color: black;
}

/* Mobile (small to large) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pageHeaderWrapper .left h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
    color: var(--secondary-text);
    margin-right: 10px;
  }
  .pageHeaderWrapper {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .pageHeaderWrapper .right {
    justify-content: space-between;
    width: 100%;
  }

  .dateSelecorWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .viewTablesWrapper {
    margin: 20px 0;
  }
}

/* =============================================================== */
/*  2. ANALYTICS                                                   */
/* =============================================================== */
.chartContainer {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.chartContainer > .sklHalf {
  background-color: var(--info-color);
  border-radius: 5px;
  height: 80px;
  width: 80%;
}

.aTxt {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.aTxt > h1 {
  line-height: 22px;
}

.aTxt > span {
  font-size: 12px;
  font-weight: 300;
}

.chartWrapperBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0rem;
  background-color: var(--background);
  border: 2px solid var(--foreground);
  box-shadow: var(--drop-shadow);
  border-radius: 6px;
}

.chartWrapperBox header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0rem;
}

.chartWrapperBox header > svg {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.chartWrapperBox header h5 {
  font-size: 13px;
  font-weight: 450;
  line-height: 20px;
  color: var(--secondary-text);
}

.chartWrapperBox header h2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: auto;
  padding: 0rem;
  margin: 0rem;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-text);
}

.chartWrapperBox header h2 > span {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: var(--secondary-text);
  margin-left: 3px;
}

.chartWrapperBox .chartContainer {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filterCardBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 275px;
  padding: 5px;
}

.chartWrapperBox .goalsContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

.chartWrapperBox .goalsContainer > div {
  height: auto;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

.chartWrapperBox .goalsContainer > div:first-of-type > div {
  width: 10%;
}

.chartWrapperBox .goalsContainer > div:last-of-type {
  margin-top: 5rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.toolWrapper {
  background-color: #fff;
  padding: 5px 7px;
  background-color: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
}

.toolWrapper p {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: var(--secondary-text);
  margin-left: 3px;
}

.timeFramWrapper {
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start;
  align-items: center;
  position: absolute !important;
  height: auto;
  width: 120px;
  top: 115px !important;
  left: 0px;
  cursor: pointer;
  background-color: var(--tertary-background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
  z-index: 5;
  overflow: hidden;
}

.timeFramWrapper > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px 7px;
  border-bottom: 0.5px solid rgb(222, 222, 222);
}

.timeFramWrapper > div > span {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: var(--secondary-text);
  margin-left: 3px;
}

.timeFramWrapper > div:hover > span {
  color: var(--secondary-accent);
}

.mobileComplete {
  display: none;
  cursor: pointer;
}

.goalsModal {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;

  position: fixed !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 100;
  overflow: hidden;
}

.goalsModal .bgModal {
  cursor: pointer;
  position: absolute !important;
  background-color: rgba(152, 47, 47, 0.52);
  width: 100vw !important;
  height: 100vh !important;
}

.goalsModal .goalCard {
  z-index: 100000;
  width: 100%;
  max-width: 450px;
  background-color: var(--tertary-background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
  padding: 10px;
}

.goalsModal .goalCard > header,
.goalsModal .goalCard > header > div {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.goalsModal .goalCard > .goalsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.goalsModal .goalCard > .goalsContainer .inputWrapper {
  width: 48% !important;
}

.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}

.filterBox > header {
  background-color: rgba(247, 247, 247, 1);
  border-bottom: 1px solid rgb(189, 189, 189);
  width: 100%;
  padding: 15px 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.filterBox > span,
.filterBox > header > span {
  font-size: 12px;
  font-weight: 450;
  line-height: 13px;
  color: var(--secondary-text);
}

.filterBox > header > span {
  font-weight: 600;
  font-size: 13px;
}

.filterBox > span {
  background-color: rgb(255, 255, 255);
  padding: 10px 5px;
  width: 100%;
  border-bottom: 1px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filterBox > span:hover {
  background-color: rgb(246, 246, 246);
  color: black;
  cursor: pointer;
}

.filterBox > span:last-of-type {
  border-bottom: none !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Mobile (small to large) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .chartWrapperBox {
    width: 100% !important;
    margin-bottom: 1rem;
  }
  .page > div > .rowSection {
    margin: 0rem 0 !important;
  }
  .chartContainer {
    display: none;
  }
  .aTxt {
    margin-top: 30px;
    /* display: none; */
  }

  .timeFramWrapper {
    top: 75px !important;
  }

  .mobileComplete {
    display: flex;
  }

  .goalsModal .goalCard {
    width: 90%;
    max-width: 90%;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem 0 0rem 0;
}

.inputWrapper input,
.inputWrapper select {
  width: 100%;
  padding: 7px 10px;
  margin: 0px 0;
  display: inline-block;
  border: 2px solid var(--foreground);
  border-radius: 4px;
  color: var(--primary-text);
  box-sizing: border-box;
  background-color: var(--background);
}

.inputWrapper label {
  font-size: 12px;
  font-weight: 450;
  line-height: 13px;
  color: var(--secondary-text);
}

.inputWrapper span {
  margin-top: 2px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: var(--secondary-accent);
}

.dateRange {
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: start;
}

.datePicker {
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin-left: 0px;
}

.datePicker > div {
  border-radius: 5px;
}

.datePicker > span {
  border-radius: 5px;
}

.datePicker .react-calendar__navigation__arrow {
  color: rgb(255, 255, 255) !important;
  background: rgb(255, 255, 255) !important;
  background-color: rgb(255, 255, 255) !important;
}

.datePicker .react-calendar__navigation button:disabled,
.datePicker button:disabled {
  background-color: white !important;
}

.datePicker .react-calendar__navigation button:disabled abbr,
.datePicker button:disabled abbr {
  color: rgb(180 180 180) !important;
}

.datePicker > span .react-calendar__month-view__days__day--weekend {
  color: rgb(48, 48, 48) !important;
}

.dateRange > div > div {
  border: none !important;
  width: 350px;
  max-width: 100vw;
}

.dateRange > div > div > div:nth-child(1),
.dateRange > div > div > div:nth-child(3) {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
  border-radius: 5px;
  margin-right: 5px;
}

.dateRange > div > div > div:nth-child(3) {
  margin-left: 7px;
}

.dateRange > div > span > div > div {
  margin-top: 10px;
  border-radius: 10px;
}

/* Mobile (small to large) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .datePicker {
    margin-left: 0px;
    margin-top: 20px;
  }
}

/* =============================================================== */
/*  4. ANALYTICS - TABLE                                           */
/* =============================================================== */
.tableContainer {
  width: 100%;
}

.tableHeader {
  text-align: left;
  padding: 0 1rem;
  vertical-align: middle;
}

.tableHeader > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableCell {
  text-align: left;
  padding: 0 1rem;
  vertical-align: middle;
}

.tableBadge {
  margin-right: 5px;
  margin-left: 0 !important;
  cursor: pointer;
  flex-shrink: 0;
}

.tableBadge:hover {
  background: var(--magic-bkg) !important;
}

.sortingColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 0 5px;
  cursor: pointer;
}

.sortingColumn > svg:hover,
.sortingColumn > svg:hover path {
  stroke: var(--magic-bkg);
}

.applyBtn {
  background-color: rgb(45, 45, 45) !important;
  color: white !important;
  cursor: pointer;
}
