/* =============================================================== */
/*  1. JOB ITEM DISPLAY                                            */
/* =============================================================== */
.itemDisplayWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--tertary-background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
}

.itemDisplayWrapper header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

.itemDisplayWrapper header > div:first-of-type {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.itemDisplayWrapper header h4 {
  font-size: 13px;
  font-weight: 550;
  line-height: 20px;
  color: var(--primary-text);
}

.itemDisplayWrapper main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}

.itemDisplayWrapper main .txt {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemDisplayWrapper main .txt > span {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 450;
  line-height: 16px;
  color: var(--secondary-text);
}

.itemDisplayWrapper .box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--foreground);
  border-radius: 6px;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

.btn,
.toggle {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  margin: 0 5px;
  top: 5px;
  left: 5px;
  background-color: var(--secondary-background);
  border: 1px solid var(--secondary-foreground);
  box-shadow: var(--drop-shadow);
  color: var(--magic-color);
  padding: 5px 7px;
  border-radius: 5px;
  color: var(--foreground);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  display: flex;
}

.btn:hover,
.toggle:hover {
  background-color: var(--tertary-background) !important;
}

.btn:active,
.toggle:active {
  box-shadow: var(--foreground) 0px 2px 0 0;
  transform: translate(2px, 2px);
}

.btn {
  position: relative;
  top: 0;
  left: 0;
}

.createHdrLeft span {
  font-size: 10px;
  font-weight: 450;
  line-height: 15px;
  color: var(--secondary-accent);
  vertical-align: middle;
  margin-right: 10px;
}

.createHdrLeft {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.createHdrLeft label {
  position: relative;
  width: 50px;
  height: 19.5px;
  background: #fff;
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
}

.createHdrLeft label .fill {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 0;
  border-radius: 50%;
  background: var(--secondary-accent);
  width: 16px;
  height: 16px;
  transition: 0.4s left;
}

.createHdrLeft label input {
  width: 0;
  visibility: hidden;
}

.createHdrLeft label input:checked + span.fill {
  left: calc(100% - 18px);
}

.itemDisplayWrapper .box img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.column {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 0;
  padding: 0rem;
  width: 100%;
}

.itemDisplayWrapper .column .box {
  width: auto;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}

.itemDisplayWrapper .column .box img {
  object-fit: contain;
  width: auto;
  height: 90%;
  padding: 0.5rem;
}

.itemDisplayWrapper footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

/* =============================================================== */
/*  2. ADD ITEM DISPLAY                                            */
/* =============================================================== */
.addItemsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--tertary-background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
  margin-bottom: 2rem;
}

.itemsTableWrapper {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden; /* Prevent overflow */
}

.itemsTableWrapper table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.itemsTableWrapper table,
.itemsTableWrapper td,
.itemsTableWrapper th {
  border: 1px solid black;
  border: none !important;
  text-align: left;
  border-collapse: collapse;
}

.itemsTableWrapper th {
  font-size: 12px;
  font-weight: 550;
  line-height: 15px;
  color: var(--secondary-text);
}

.itemsTableWrapper td {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--primary-text);
}

.itemsTableWrapper td img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border: 1px solid var(--foreground);
  padding: 5px;
  border-radius: 5px;
}

.itemsTableWrapper thead {
  background-color: var(--tertary-background);
  border: none;
  border-collapse: collapse;
  border-top: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground);
  border-radius: 0 !important;
}

.itemsTableWrapper thead tr {
  background-color: var(--secondary-background);
}

.itemsTableWrapper tbody tr {
  background-color: var(--tertary-background);
}
.itemsTableWrapper tbody tr:hover {
  cursor: pointer;
  background-color: var(--seconday-background);
}

.itemsTableWrapper tr,
.itemsTableWrapper td {
  height: auto;
  vertical-align: middle;
  border: none;
  text-align: left;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.itemsTableWrapper th,
.itemsTableWrapper td {
  padding: 7px 0;
}

.addItemsWrapper header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

.searchWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0rem;
}

.inputWrapper {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.searchWrapper input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid var(--foreground);
  border-radius: 4px;
  color: var(--primary-text);
  box-sizing: border-box;
  background-color: var(--background);
}
.searchWrapper button {
  margin-left: 10px;
}
.addItemsWrapper header h4 {
  font-size: 13px;
  font-weight: 550;
  line-height: 20px;
  color: var(--primary-text);
}

.addItemsWrapper footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

/* SELECT WRAPPER */

.selectWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem 0 0rem 0;
}

.selectWrapper input,
.selectWrapper select {
  width: 48%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid var(--foreground);
  border-radius: 4px;
  color: var(--primary-text);
  box-sizing: border-box;
  background-color: var(--background);
}

.selectWrapper select {
  width: 98%;
}

.inputWrapper label {
  font-size: 12px;
  font-weight: 450;
  line-height: 13px;
  color: var(--secondary-text);
}

.selectWrapper input {
  width: 100%;
}

.itemDisplayWrapper .box .fileUpload {
  text-align: center;
  width: 100%;
  padding: 1rem 0.5rem;
  position: relative;
  cursor: pointer;
}

.itemDisplayWrapper .box .fileUpload h3 {
  font-size: 13px;
  font-weight: 550;
  line-height: 15px;
  color: var(--secondary-text);
}

.itemDisplayWrapper .box .fileUpload p {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 350;
  line-height: 13px;
  color: var(--secondary-text);
}

.itemDisplayWrapper .box .fileUpload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

/* Store Modal */
/* ===============================================================  */

.storeModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: auto;
  width: 200px;
  top: 90px;
  right: 15px;
  cursor: pointer;
  background-color: var(--tertary-background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
  z-index: 5;
}
.storeModal > div {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--secondary-background);
}

.storeModal > div:last-of-type {
  border-bottom: 1px solid transparent;
}

/* =============================================================== */
/*  3. KAN BAN BAORDS                                              */
/* =============================================================== */
.kanbanBoard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  min-width: 350px;
  max-width: 350px;
  height: 750px;
  min-height: 750px;
  max-height: 750px;
  margin: 0;
  padding: 0;
  background-color: var(--tertary-background);
  border: 2px solid var(--foreground);
  border-radius: 6px;
  box-shadow: var(--drop-shadow);
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  overflow: scroll;
}
.kanbanBoard:last-of-type {
  margin-right: 0rem;
}

.kanbanBoard > header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

.kanbanBoard > main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

.kanbanBoard .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0px;
  border: 2px solid var(--foreground);
  border-radius: 6px;
  margin-bottom: 1rem;
}

.kanbanBoard .box > header,
.kanbanBoard .box > div,
.kanbanBoard .box > footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px;
}

.kanbanBoard .box > div {
  flex-direction: column;
  justify-content: flex-start;
}

.kanbanBoard .box > div {
  border-top: 1px solid var(--secondary-background);
  border-bottom: 1px solid var(--secondary-background);
  height: 70px;
}

.kanbanBoard .box > div > div {
  position: absolute;
  left: 10px;
  top: 10px;
}

.kanbanBoard .box > div > p {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: 450;
  line-height: 16px;
  color: var(--secondary-text);
}

.kanbanBoard .box > div > div:nth-child(5) {
  left: 40px;
}

.kanbanBoard .box > div > div:nth-child(4) {
  left: 40px;
}
.kanbanBoard .box > div > div:nth-child(3) {
  left: 30px;
}
.kanbanBoard .box > div > div:nth-child(2) {
  left: 20px;
}
.kanbanBoard .box > div > div:first-child {
  left: 10px;
  top: 10px;
}
